/* Add CSS Styling */
.button_one,
.button_two
{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;

}
.button_one{
    background-color: black;
    color: white;
}

.button_two{
    background-color: yellow;
}

